RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxxxxxx
RESEND_FROM_EMAIL=consultas@contuttipizzaparty.com
RESEND_DOMAIN=contuttipizzaparty.com
RESEND_DOMAIN_ID=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
RESEND_TO_EMAIL=contuttipizzaparty@gmail.com
